<!DOCTYPE html>
<html lang="en">
<head>
  <title>Document</title>
  <link rel="stylesheet" href="/style.css" type="text/css" /> 
</head>
<body>
  <div class="input-group">
    <p>ATM</p>
    <div class="moniter">
      <p>餘額：</p>
      <p><span></span></p>
    </div>
    <form action="atm" method="get">
      <select name="option" id="">
        <option value="+" name="plus">存錢 + </option>
        <option value="-" name="minus">領錢 - </option>
      </select>
      <input class="txt" type="text" name="money" value="">
      <input class="submit" type="submit">
    </form>
  </div>
</body>
</html>