<div class="input-group">
<p>ATM</p>
<div class="moniter">
  <p>餘額：</p>
  <p><%= ac%> </p>
</div>
<form action="cal" method="post">
  <select name="option" id="">
    <option value="+" name="plus">存錢 + </option>
    <option value="-" name="minus">領錢 - </option>
  </select>
  <input class="txt" type="text" name="money">
  <input class="submit" type="submit">
</form>
</div>