<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="head" style="background-color:#FFD382">
    <p>選單</p>
  </div>
  <%= yield%>
  <div class="foot" style="background-color:#FFD382">
    <p>聯絡</p>
  </div>
</body>
</html>
